{% extends "wagtailadmin/base.html" %}

{% load django_htmx django_vite slippers %}

{% block titletag %}Aprobaciones{% endblock %}


{# CSS and JS #}
{% block extra_css %}
    {# - Global stylesheet #}
    {% if settings.DEBUG %}
      {# For hot module reload use vite_asset, which inserts a javascript file #}
      {% vite_asset 'css/main.css' %}
    {% else %}
      {# In production use an actual css file, tailwind compiled #}
      <link rel="stylesheet" href="{% vite_asset_url 'css/main.css' %}">
    {% endif %}

    {# Bootstrap icons #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    {# ==== JavaScripts ==== #}

    {# - ViteJS hot module reload #}
    {% block vite %}
        {% if settings.DEBUG %}
            {% vite_hmr_client %}
        {% endif %}
    {% endblock %}

    {% if settings.DEBUG %}
        {# https://django-htmx.readthedocs.io/en/latest/extension_script.html #}
        {% django_htmx_script %}
    {% endif %}

    {% block extrascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.12/pdfobject.min.js" integrity="sha512-lDL6DD6x4foKuSTkRUKIMQJAoisDeojVPXknggl4fZWMr2/M/hMiKLs6sqUvxP/T2zXdrDMbLJ0/ru8QSZrnoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% vite_asset 'js/htmx.ts' %}
        {% vite_asset 'js/approve_entity.ts' %}
    {% endblock extrascripts %}

{% endblock extra_css %}

{% block content %}
    <a href="{% url 'approvals' %}">
        {% include "wagtailadmin/shared/header.html" with title="Aprobaciones" %}
    </a>
    <div class="nice-padding">

        <h2 class="text-xl">Lista de registros por aprobar</h2>
        {% block approvals_table %}
        <form
            class="w-full"
            id="approvals-form"
            method="POST"
            hx-post=""
            hx-swap="outerHTML"
            hx-target="#approvals-form"
            hx-trigger="submit"
        >
            {# Header controls #}
            <input type="hidden" name="modality" value="{{ ApprovalModalitys.TABLE }}">
            <div id="header-controls" class="py-4">
                <div class="flex flex-col">

                    <h2 class="font-bold text-lg">Búsqueda</h2>
                    {# Filters #}
                    <section class="flex gap-x-4 items-baseline">
                        <div class="flex flex-col">
                            <label for="{{ filter_form.name.id_for_label }}">{{filter_form.name.label}}</label>
                            <input
                                id="{{ filter_form.name.id_for_label }}"
                                name="{{filter_form.name.html_name}}"
                                type="text"
                                {% if filter_form.name.data %}
                                value="{{filter_form.name.data}}"
                                {% endif %}
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ filter_form.status.id_for_label }}">{{filter_form.status.label}}</label>
                            {{ filter_form.status }}
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ filter_form.user_type.id_for_label }}">{{filter_form.user_type.label}}</label>
                            {{ filter_form.user_type }}
                        </div>

                        <div class="self-end">
                            {% #button type="submit" name="action" value="search" icon_left="bi bi-search" %}
                                Buscar
                            {% /button %}
                        </div>
                    </section>
                    {# Actions #}
                    <hr class="my-4">
                    <section class="flex flex-col">
                        <h2 class="font-bold text-lg" for="{{ filter_form.action.id_for_label }}">{{filter_form.action.label}}</h2>
                        <div class="flex gap-x-2">

                            {% #button type="submit" name="action" value=RegisterApprovalEvents.APPROVE icon_left="bi bi-check" %}
                                {{RegisterApprovalEvents.APPROVE.label}}
                            {% /button %}

                            {% #button type="submit" name="action" value=RegisterApprovalEvents.REJECT icon_left="bi bi-x" variant="red" %}
                                {{RegisterApprovalEvents.REJECT.label}}
                            {% /button %}

                            {% #button type="submit" name="action" value=RegisterApprovalEvents.RESET icon_left="bi bi-x" %}
                                {{RegisterApprovalEvents.RESET.label}}
                            {% /button %}

                        </div>
                        {% include "components/info_text.html" with text='Da clic en el Nombre y Apellido para ver el comprobante del usuario' margin="my-2" %}

                    </section>

                    {# Form nonfield Errors #}
                    {% if filter_form.non_field_errors %}
                    <section>
                        <ul class="text-red-600 my-2 text-base">
                            {% for error in filter_form.non_field_errors %}
                                <li class="flex items-center gap-x-4">
                                    <i class="bi bi-x-circle"></i>
                                    <span>{{ error|escape }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
                </div>
            </div>
            {# End header controls #}

            <table class="w-full border-solid border-gray-700 text-sm text-left rtl:text-right dark:text-gray-400">
                <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        {# class is used here to override some of the wagtail default styles #}
                        {# the text is center aligned and we want it left aligned #}
                        <th class="flex items-center"><input type="checkbox" name="select_all"></th>
                        <th class="py-3 text-left">Nombre y Apellido</th>
                        <th class="py-3 text-left">Tipo</th>
                        <th class="py-3 text-left">Carrera</th>
                        <th class="py-3 text-left">Estatus</th>
                    </tr>
                </thead>
                <tbody class="overflow-y-scroll max-h-screen min-h-6">
                    {% for user_approval in page_obj %}
                        <tr>
                            <td><input type='checkbox' name='approvals' value='{{user_approval.id }}'></td>
                            {# name and last name #}
                            <td>
                                <div class="flex gap-x-2 items-baseline">
                                    <i class="bi bi-person text-xl"></i>
                                    {# clicking the paragrah will open a modal that displays the voucher #}
                                    <p
                                        onclick="openModal({{ user_approval.pk }})"
                                    >{{ user_approval.user.first_name }} {{ user_approval.user.last_name }}</p>
                                </div>
                            </td>

                            {# user type #}
                            <td>
                                <div class="rounded-2xl bg-slate-600 py-2 px-4 text-white w-fit">
                                    {{ user_approval.user_type.name }}
                                </div>
                            </td>

                            {# career #}
                            <td>
                                {% if user_approval.user_type.model == "mentor" %}
                                    {{user_approval.user.mentor.carreer.name}}
                                {% elif user_approval.user_type.model == "student" %}
                                    {{user_approval.user.student.carreer.name}}
                                {% else %}
                                    - 
                                {% endif %}
                            </td>

                            {# status #}
                            <td>
                                <div class="">
                                    {# https://docs.djangoproject.com/en/4.2/ref/models/instances/#django.db.models.Model.get_FOO_display #}
                                    {{ user_approval.get_state_display }}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="5">
                                {% if filter_form.action.value == "search" %}
                                    <span class="text-base mt-4">No hay registros por aprobar que cumplan con los criterios de búsqueda: </span>
                                    <span class="font-bold">Estatus = </span>
                                    <span>{{ invalid_status }}</span>
                                    <span> y </span>
                                    <span class="font-bold">Tipo = </span>
                                    <span>
                                        {% if not filter_form.user_type.value %}
                                            Todos
                                        {% else %}
                                            {{ filter_form.user_type.value }}
                                        {% endif %}
                                    </span>
                                {% else %}
                                    <span>No hay registros por aprobar</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# Table pagination #}
            <nav class="flex items-center justify-center">
                {% if paginator.num_pages > 1 %}
                    <ul class="inline-flex -space-x-px text-sm my-4">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}&{{search_query_params}}" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Anterior</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-300 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:text-gray-300">Anterior</a>
                            </li>

                        {% endif %}


                        {% for page_num in paginator.page_range %}
                            {% if page_num == page_obj.number %}
                                <li>
                                    <a aria-current="page" class="flex items-center justify-center px-4 h-10 leading-tight text-blue-600 bg-blue-50 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a
                                    href="?page={{ page_num }}&{{search_query_params}}"
                                    aria-current="page" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}&{{search_query_params}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Siguiente</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-300 bg-white border border-gray-300 rounded-e-lg hover:text-gray-300">Siguiente</a>
                            </li>

                        {% endif %}

                    </ul>
                {% endif %}
            </nav>
        </form>

        {# Modal for voucher details #}

        {% endblock approvals_table %}


        <!-- Modal for approving or rejecting register requests -->
        <div id="approval-modal" data-modal-backdrop="dynamic" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        </div>
    {# CSFR Token for making POST, PUT, DELETE request with htmx #}
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });
    </script>
{% endblock content %}

