{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% load django_vite %}

{% block extrameta %}
  <title>Django Vite Example</title>
{% endblock %}

{% block body %}
  <main class="px-20">
    <header class="flex flex-col justify-center items-center">
      {% image page.header_image max-500x500 %}
      <p>{{page.header_text}}</p>
      <div>
        <button class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">{{page.header_cta}}</button>
      </div>
    </header>
    <article class="flex">
      <div class="w-1/2 flex justify-center items-center bg-slate-300 mr-4">
        {# <img class="block h-auto"> #}
        {% image page.hero_one_image max-800x300 %}
      </div>

      <div class="w-1/2 flex flex-col">
        <h3 class="text-3xl font-bold">{{page.hero_one_title}}</h3>
        <p>{{page.hero_one_desc}}</p>
      </div>
    </article>
  </main>
{% endblock body %}

{% block extrascripts %}
    {% vite_asset 'main.tsx' %}
{% endblock extrascripts %}
