{% load slippers %}
<form
    id="change-password-form"
    hx-post="{% url 'customauth:change_password' %}"
    hx-target="#change-password-form"
    hx-swap="outerHTML"
>
    <div class="grid grid-cols-3 gap-x-2">
        {# Wrap in divs so errors are not displayed in new columns #}
        <div>
            {% include "forms/render_field.html" with field=password_form.old_password  %}
        </div>
        <div>
            {% include "forms/render_field.html" with field=password_form.new_password1 %}
        </div>
        <div>
            {% include "forms/render_field.html" with field=password_form.new_password2 %}
        </div>
    </div>

    <div class="col-span-full flex justify-center items-center my-2">
    {% #button icon_left="bi bi-floppy text-white" type="submit" %}
        Guardar
    {% /button %}
    </div>
</form>
