{% extends "base.html" %}
{% load wagtailimages_tags django_vite slippers pro_careers wagtailcore_tags %}

{% block extrascripts %}
    {% vite_asset 'js/htmx.ts' %}
    {% vite_asset 'js/mentor_landing.ts' %}
{% endblock %}

{% block title %}
Página principal - Mentor
{% endblock title %}

{% block body %}

<main>
    {% include "components/navbar.html" %}
    <div id="ad-banner"
         x-cloak
         x-data="{ open: $persist(true) }"
         x-show="open"
         class="py-2 px-4 flex gap-x-4 justify-center items-center bg-ucv-yellow"
     >
        <div class="grow flex gap-x-4 justify-center items-center">
            <p>¡Añade tu experiencia personal en las carreras profesionales que haz ejercido!</p>
            <a href="{% pro_carrer_index_link %}">
                {% #button icon_right="bi bi-arrow-right"%}
                    Añadir
                {% /button %}
            </a>
        </div>
        <div class="self-end" x-on:click="open = ! open" >
            {% #button icon_right="bi bi-x"%}
            {% /button %}
        </div>

    </div>
    <div class="grid grid-cols-2 page-x-spacing gap-x-8 mt-4">
        {# 1st column #}
        <div class="flex flex-col gap-y-8">
            {# Mentorship table #}
            <section id="mentorship-info">
                <h2 class="text-2xl font-bold mb-4">Solicitudes de mentoría</h2>
                {# table container #}
                {% block mentorship_req_table %}
                <div class="border rounded-lg border-slate-200" id="mentorship_req_table">
                    {% include "mentor/mentorship_req_table.html" with with_mentorship_name="True" %}
                </div>
                {% endblock mentorship_req_table %}

                {% include "components/info_text.html" with text='Para ver el progreso de los estudiantes aceptados, en la columna "Mentoría", da clic en el link azul.' %}

                <!-- Container of the student modal -->
                <div id="student-info-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                </div>
            </section>
            {# Other links #}
            <section id="other-links">
                <h2 class="text-2xl font-bold mb-4">Otros enlaces</h2>
                <ul class="flex flex-col gap-y-2">
                    <li>
                        <a href="{% pro_carrer_index_link %}" class="hover:underline decoration-4 underline-offset-8 decoration-ucv-yellow-dark">Añadir experiencia a carrera profesional</a>
                    </li>
                </ul>
            </section>
            {# Blogs table #}
            <section id="blogs-table">
                <h2 class="text-2xl font-bold mb-4">Mis blogs</h2>

                <div class="border rounded-lg border-slate-200">
                    <table>
                        <thead>
                            <tr>
                                <th class="pt-6 pl-6 text-left">Título</th>
                                <th class="pl-6 pr-6 pt-6 text-left">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for blog in myblogs %}
                                <tr>
                                    <td class="pt-6 pl-6 text-left pb-4">
                                        <a class="text-ucv-blue hover:underline" href="{% pageurl blog %}">
                                            {{ blog.title }}
                                        </a>
                                    </td>
                                    <td class="pl-6 pr-6 pt-6 text-left pb-4">
                                        <a href="{% url 'wagtailadmin_pages:edit' page_id=blog.id %}">
                                            {% #button icon_right="bi bi-pencil-square" type="button" title="Editar" %}
                                            {% /button %}
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3" class="py-2 pl-6">
                                        <div class="flex gap-x-2 justify-center items-center">
                                            <p>No hay blogs creados, añade uno dando click en</p>
                                            {% include "business/landing/btn_ver_todas.html" with size="small" add_url=add_blog_url btn_text="Añadir blog" %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {# Blogs table actions #}
                {% if blogs_count > 0 %}
                    <div id="blog-list-actions" class="flex justify-end mt-4 gap-x-2">
                        <a href="{% url 'wagtailadmin_explore_root' %}">
                            {% #button icon_right="bi bi-arrow-right" type="button" %}
                                Ver todos
                            {% /button %}
                        </a>
                        {% include "business/landing/btn_ver_todas.html" with add_url=add_blog_url btn_text="Añadir blog" %}
                    </div>
                {% endif %}

            </section>
        </div>

        {# 2nd column #}
        <section id="feeds">
            {% url 'events_feed' as events_feed_url %}
            {% include "main/event_news_feed.html" with id=EVENT_SECTION pages=events page_index=events_index title="Próximos eventos" load_more_url=events_feed_url page_number=events_page_number page_obj=events_paginator %}

            {% url 'news_feed' as news_feed_url %}
            {% include "main/event_news_feed.html" with id=NEWS_SECTION top_margin_title="True" pages=news title="Noticias" page_index=news_index load_more_url=news_feed_url page_number=news_page_number page_obj=news_paginator %}
        </section>

    </div>

</main>
{% endblock body %}
