{% extends "base.html" %}
{% load static wagtailimages_tags django_vite slippers %}

{% block extrascripts %}
    {% vite_asset 'js/htmx.ts' %}
    {% vite_asset 'js/mentor_landing.ts' %}
{% endblock %}

{% block title %}
Página principal - Mentor
{% endblock title %}

{% block body %}

<main>
    {% include "components/navbar.html" %}
    <div class="grid grid-cols-2 page-x-spacing gap-x-8 mt-4">
        <section id="mentorship-info">
            <h2 class="text-2xl font-bold mb-4">Solicitudes de mentoría</h2>
            {# table container #}
            {% block mentorship_req_table %}
            <div class="border rounded-lg border-slate-200" id="table_form">
                {% include "mentor/mentorship_req_table.html" with with_mentorship_name="True" %}
            </div>
            {% endblock mentorship_req_table %}

        </section>
        <section id="feeds">
            {% url 'events_feed' as events_feed_url %}
            {% include "main/event_news_feed.html" with id=EVENT_SECTION pages=events page_index=events_index title="Próximos eventos" load_more_url=events_feed_url page_number=events_page_number page_obj=events_paginator %}

            {% url 'news_feed' as news_feed_url %}
            {% include "main/event_news_feed.html" with id=NEWS_SECTION top_margin_title="True" pages=news title="Noticias" page_index=news_index load_more_url=news_feed_url page_number=news_page_number page_obj=news_paginator %}
        </section>
    </div>

    <!-- Container of the student modal -->
    <div id="student-info-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    </div>
</main>
{% endblock body %}
