{% extends "base.html" %}

{% load slippers django_vite %}

{% block title %}
    Completa el perfil
{% endblock %}

{% block body %}

<main class="flex flex-col justify-center items-center" x-data="complete_profile('{{urlCarrer}}', '{{formset_prefix}}')" @formerrors.document="set_form_errors">
    <div class="flex justify-center mt-10 mb-14">
        {% stepper number=1 text="Seleccionar perfil" left_line="false"  url=step_urls.select_perfil %}
        {% stepper number=2 text="Selecciona tu carrera" url=step_urls.select_carrera %}
        {% if profile == query_form.ESTUDIANTE %}
            {% stepper number=3 text="Selecciona tu especialización" url=step_urls.specialization %}

            {# Student doesn't have a specialization, so he must of have selected themes #}
            {% if no_spec %}
                {% stepper number=4 text="Temas de interés" url=step_urls.specialization %}
                {% stepper number=5 text="Completa el perfil" right_line="false" %}
            {% else %}
                {% stepper number=4 text="Completa el perfil" right_line="false" %}
            {% endif %}
        {% endif %}

        {% if profile == query_form.MENTOR %}
            {% stepper number=3 text="Añade tu experiencia profesional" url=step_urls.add_exp %}
            {% stepper number=4 text="Completa el perfil" right_line="false"   %}
        {% endif %}

    </div>
    {% if query_form.errors %}
    <div>
        <h2 class="text-lg">Uh oh, Algo malo ha pasado</h2>

        <ul class="text-red-600">
            {% for error in query_form.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% comment %}
      Sadly file fields has to be rendered outside the form, otherwise they will lose their value
      when the form is rendered back after htmx request, see:
    {% endcomment %}

    {# Profile pic #}

    {% if not query_form.errors %}
        <div class="flex flex-col justify-center text-center my-4">
            <label for="{{ user_form.profile_pic.id_for_label }}">{{user_form.profile_pic.label}}</label>
            <div class="my-4">
                <i class="bi bi-person-circle text-[50px]"></i>
            </div>
            <input type="file"
                   class="self-center"
                   id="{{ user_form.profile_pic.id_for_label }}"
                   name="{{user_form.profile_pic.html_name}}"
                   form="abc-form"
                   {% if user_form.profile_pic.field.required %} required {% endif %}
                   >
            {# use alpine to render the errors of the file field #}
            <template x-if="errors['user_form']">
                <ul class="text-red-600">
                    <template x-for="error in errors['user_form']['profile_pic']">
                        <li x-text="error.message"></li>
                    </template>
                </ul>
            </template>
        </div>
    {% endif %}


        {% block form %}
        <form
            id="abc-form"
            class="grid grid-cols-2 gap-x-2 gap-y-4"
            enctype="multipart/form-data"
            method="post"
            hx-post=""
            hx-swap="outerHTML"
            hx-target="#abc-form"
            hx-trigger="submit"
            >
            {% csrf_token %}
            {# Render all of the form fields of the user_form excluding those that are hidden #}
            {% for field in user_form %}
                {% if not field.is_hidden and field != user_form.profile_pic %}
                    <div
                        class="
                            flex flex-col
                            {% if field == user_form.password1 %}
                                col-start-1
                            {% endif %}
                        ">
                        <label for="{{ field.id_for_label }}">{{field.label}}</label>

                        {# Render the input element #}
                        {{ field }}

                        {# Render the error list of the filed #}
                        {% if field.errors %}
                            <ul class="text-red-600">
                                {% for error in field.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            {# Action field #}
            {% if profile == query_form.ESTUDIANTE %}
                <input type="hidden" name="action" value="create_student">
            {% endif %}

            {% if profile == query_form.MENTOR %}
                <input type="hidden" name="action" value="create_mentor">
            {% endif %}

            {% if profile == query_form.MENTOR %}

                {# Formset meta #}
                <input type="hidden" name="form-TOTAL_FORMS" x-bind:value="mentor_exp.length">
                <input type="hidden" name="form-INITIAL_FORMS" value="0">
                <input type="hidden" name="form-MIN_NUM_FORMS" value="0">
                <input type="hidden" name="form-MAX_NUM_FORMS" value="1000">

                {# Render all of the interest themes of the student, must be django form complient #}
                <template x-for="(expertise,index) in mentor_exp" :key="expertise.name">
                    <div>
                        <template x-for="entry in Object.entries(expertise)">
                            <input type="hidden" :name="`${formsetPrefix}-${index}-${entry[0]}`" :value="entry[1]">
                        </template>
                    </div>
                </template>
            {% endif %}

            {# Entity form fields #}
            {% for field in entity_form.visible_fields %}
                {% if field != entity_form.voucher %}
                    <div class="flex flex-col">
                        <label for="{{ field.id_for_label }}">{{field.label}}</label>
                        {{ field }}
                        <ul class="text-red-600">
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}


            {# Render non_field_errors #}
            {% if entity_form.non_field_errors %}
                <ul class="text-red-600">
                    {% for error in entity_form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# Render errors of hidden fields of the student form #}
            {% for field in entity_form.hidden_fields %}
                {% if entity_form.is_bound %}
                    {{ field }}
                {% else %}
                    {# Use htmx to fill in the input values #}
                    {% if field == entity_form.interests %}
                        {# Render all of the interest themes of the student, must be django form complient #}
                        <template x-for="interest in interests">
                            <input type="hidden" name="{{ field.name }}" x-bind:value="interest">
                        </template>
                    {% else %}
                        {# This is what renders the common fields, like profile and carreer #}
                        <input type="hidden" name="{{ field.name }}" x-bind:value="{{ field.name }}">
                    {% endif %}

                {% endif %}

                {% if field.errors %}
                    <ul class="col-span-full text-red-600">
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            {% endfor %}

        </form>
        {% endblock form %}


    {% if not query_form.errors %}
        {% include "register/file_field.html" with field=entity_form.voucher form_id="abc-form" required=entity_form.voucher.field.required %}
        {# render errors of the below input unsing alpinejs #}
        <template x-if="errors['entity_form']">
            <ul class="col-span-full text-red-600">
                <template x-for="error in errors['entity_form']['voucher']">
                    <li x-text="error.message"></li>
                </template>
            </ul>
        </template>
    {% endif %}

    {% if not query_form.errors %}
        <div
            class="col-span-full justify-self-center"
            >
            {% #button type="submit" form="abc-form" %}
                Completar el registro
            {% /button %}

        </div>
    {% endif %}
</main>
{% endblock %}

{% block extrascripts %}
    {% vite_asset 'js/complete_profile.ts' %}
{% endblock extrascripts %}
