{% extends "base.html" %}

{% load slippers django_vite %}

{% block title %}
    Completa el perfil
{% endblock %}

{% block body %}

<main class="flex flex-col justify-center items-center" x-data="complete_profile('{{urlCarrer}}')">
    <div class="flex justify-center mt-10 mb-14">
        {% stepper number=1 text="Seleccionar perfil" left_line="false"  url=step_urls.select_perfil %}
        {% stepper number=2 text="Selecciona tu carrera" url=step_urls.select_carrera %}
        {% if profile == query_form.ESTUDIANTE %}
            {% stepper number=3 text="Selecciona tu especialización" url=step_urls.specialization %}
        {% endif %}

        {# Student doesn't have a specialization, so he must of have selected themes #}
        {% if no_spec %}
            {% stepper number=4 text="Temas de interés" url=step_urls.specialization %}
            {% stepper number=5 text="Completa el perfil" right_line="false"   %}
        {% else %}
            {% stepper number=4 text="Completa el perfil" right_line="false"   %}
        {% endif %}


    </div>
    {% if query_form.errors %}
    <div>
        <h2 class="text-lg">Uh oh, Algo malo ha pasado</h2>

        <ul class="text-red-600">
            {% for error in query_form.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% block form %}
        <form
            id="form"
            class="grid grid-cols-2 gap-x-2 gap-y-4"
            enctype="multipart/form-data"
            method="post"
            hx-post=""
            hx-swap="outerHTML"
            hx-target="#form"
            >
            {# Render all of the form fields of the user_form excluding those that are hidden #}
            {% for field in user_form %}
                {% if not field.is_hidden %}
                    <div
                        class="
                            flex flex-col
                            {% if field == user_form.profile_pic %}
                                col-span-full justify-self-center
                                text-center my-4
                            {% endif %}
                            {% if field == user_form.password1 %}
                                col-start-1
                            {% endif %}
                        "
                    >
                        <label for="{{ field.id_for_label }}">{{field.label}}</label>

                        {% if field == user_form.profile_pic %}
                            <div class="my-4">
                                <i class="bi bi-person-circle text-[50px]"></i>
                            </div>
                        {% endif %}
                        {# Render the input element #}
                        {{ field }}

                        {# Render the error list of the filed #}
                        {% if field.errors %}
                            <ul class="text-red-600">
                                {% for error in field.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            {# Todo if form is mentor_form then render the form below #}

            {# Todo if form is student_form then render the form below #}


            {# Student form fields #}
            {% for field in entity_form.visible_fields %}
                <div class="
                    flex flex-col
                    {% if field == entity_form.voucher %}
                        col-span-full justify-self-center text-center my-4
                    {% endif %}
                ">
                    <label for="{{ field.id_for_label }}">{{entity_form.voucher.label}}</label>
                    {{ field }}
                    <ul class="text-red-600">
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

            {# Render non_field_errors #}
            {% if entity_form.non_field_errors %}
                <ul class="text-red-600">
                    {% for error in entity_form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# Render errors of hidden fields of the student form #}
            {% for field in entity_form.hidden_fields %}
                {% if entity_form.is_bound %}
                    {{ field }}
                {% else %}
                    {# Use htmx to fill in the input values #}
                    {% if field == entity_form.interests %}
                        {# Render all of the interest themes, must be django form complient #}
                        <template x-for="interest in interests">
                            <input type="hidden" name="{{ field.name }}" x-bind:value="interest">
                        </template>
                    {% else %}
                        <input type="hidden" name="{{ field.name }}" x-bind:value="{{ field.name }}">
                    {% endif %}
                {% endif %}
                {% if field.errors %}
                    <ul class="col-span-full text-red-600">
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            {% endfor %}

            {% if not query_form.errors %}
            <div class="col-span-full justify-self-center">

                {% #button type="submit" name="action" value="create_student" %}
                    Completar el registro
                {% /button %}

            </div>
            {% endif %}
        </form>
    {% endblock form %}
</main>
{% endblock %}

{% block extrascripts %}
    {% vite_asset 'js/complete_profile.ts' %}
{% endblock extrascripts %}
