{% extends "base.html" %}
{% load django_vite slippers %}

{% block title %}
    Registrarse
{% endblock %}

{% block body %}
{# Numbered Steps #}
{% #stepper_container %}
    {% stepper left_line="false" right_line="false" number=1 text="Seleccionar perfil" %}
{% /stepper_container %}
<main class="px-20">
    <form x-data class="flex flex-col justify-center">
        {# Profile Selectors #}
        <div class="flex gap-x-5 mt-14 justify-center">
            {% profile_selector id="estudiante" profile_name="Estudiante" selected="true" %}
            {% profile_selector id="mentor" profile_name="Mentor" icon="mortarboard" %}
            {% profile_selector id="empresa" profile_name="Empresa" icon="building" %}
        </div>
        <div class="self-center mt-20" x-show="$store.profile.profile == 'empresa'">
            <p class="mb-5 text-center text-xl font-semibold">
                Con una subscripción de $4/mes puedes
            </p>
            {% with li_class="flex gap-x-5" i_class="bi bi-check-circle text-base" %}
                <ul>
                    <li class="{{ li_class }}">
                        <i class="{{ i_class }}"></i>
                        <p>Contactar  a miles de estudiantes graduados.</p>
                    </li>
                    <li class="{{ li_class }}">
                        <i class="{{ i_class }}"></i>
                        <p>Publicar ofertas de trabajo.</p>
                    </li>
                    <li class="{{ li_class }}">
                        <i class="{{ i_class }}"></i>
                        <p>Contactar con mentores.</p>
                    </li>
                </ul>
            {% endwith %}

        </div>

        <div class="self-center mt-20">
            <a x-bind:href="$store.profile.url">
                {% #button type="button" icon_right="bi bi-arrow-right" x-show="$store.profile.profile" %}
                <p>
                    Registrarme como <span x-text="$store.profile.profile"></span>
                </p>
                {% /button %}
            </a>
        </div>
    </form>
    {{ form_urls | json_script:'form_urls' }}

</main>
{% endblock body %}

{% block extrascripts %}
    {% vite_asset 'js/register_main.ts' %}
{% endblock extrascripts %}
