{% extends "base.html" %}
{% load slippers django_vite %}

{% block title %}
   Seleccionar carrera
{% endblock %}

{% block body %}

<div class="flex justify-center my-10">
    {% stepper left_line="false" number=1 text="Seleccionar perfil" url=step_urls.select_perfil %}
    {% stepper  right_line="false" number=2 text="Selecciona tu carrera" %}
</div>

<p x-data="{profile: $persist('').as('profile')}" class="my-10 text-center">
    Selecciona la carrera que <span x-show="profile == 'estudiante'">estudias.</span> <span x-show="profile == 'mentor'">estudiaste.</span>
</p>

<div 
    class="flex flex-col justify-center"
    x-data="select_carrera">

    <div class="self-center">
        {# carrera selector #}
        <div class="flex flex-col justify-center" >

            {# Searchbar #}
            <div class="w-9/12 self-center">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <i class="bi bi-search"></i>
                    </div>
                    <input
                        type="search"
                        name="search"
                        id="default-search"
                        hx-get=""
                        hx-trigger="keyup changed delay:500ms, search"
                        hx-target="#search-results"
                        hx-swap="outerHTML"
                        hx-indicator=".htmx-indicator"
                        class="block w-full p-4 pl-10 text-sm text-gray-900 border border-black rounded-lg focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Buscar...">
                </div>
            </div>

            {# Loading icon #}
            <span class="htmx-indicator self-center flex flex-col justify-center my-2 items-center">
                <img src="https://htmx.org/img/bars.svg" style="width: 20px"/>
                <p>Buscando...</p>
            </span>
            <p class="text-center" x-show="Boolean(carreer) && !selected" x-text="`Seleccionaste previamente ${carreer}`"></p>

            {# List of carreers and professions #}
            {% block carrer_form %}
                <form
                    id="search-results"
                    :class="Boolean(carreer) ? 'mb-24' : 'mb-2'"
                    class="w-full self-center grid
                    {# For better looks adjust the grid number of grid columns #}
                    {% if faculty_num == 1 %}grid-cols-1{% endif %}
                    {% if faculty_num == 2 %}grid-cols-2{% endif %}
                    {% if faculty_num > 2 %}grid-cols-3{% endif %}
                    gap-x-8 justify-items-stretch border border-solid border-black p-4 mt-2">
                        {% for faculty in facultys %}
                            {# We only want those facultys who have carreers #}
                            {% if faculty.carreers.count > 0 %}
                                <div class="flex flex-col py-5 px-4">
                                    <p class="font-semibold text-lg text-center">{{ faculty.name }}</p>
                                    <ul class="mt-1 pb-4">
                                        {% for carreer in faculty.carreers.all  %}
                                            <li class="flex gap-x-2 items-center">
                                                <input type="radio" name="carreer" x-on:click="handle_selected('{{carreer.name}}')" />
                                                <label>{{ carreer.name }}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% empty %}
                            <p>La carrera no existe</p>
                        {% endfor %}
                </form>
            {% endblock carrer_form %}
        </div>
    </div>

    <div class="flex justify-end fixed bottom-0 w-full " x-show="Boolean(carreer)">
        <div class="flex justify-items-center self-center bg-black border-l border-solid border-l-black rounded-tl-lg">
            <a x-bind:href="next_url" class=" my-4 mx-6 ">
                {% #button icon_right="bi bi-arrow-right"  x-ref="submitbtn"%}
                    Siguiente
                {% /button %}
            </a>
        </div>
    </div>
</div>

{% endblock body %}

{% block extrascripts %}
    {% vite_asset 'js/select_carrera.ts' %}
{% endblock extrascripts %}
