{% extends "base.html" %}
{% load django_vite slippers %}

{% block extrastyles %}
{% endblock extrastyles %}

{% block extrascripts %}
    {% vite_asset 'js/cytoscape_test.ts' %}
{% endblock extrascripts %}

{% block body %}
<main class="flex flex-col items-center justify-center">
    <ul
        x-data
        class="flex flex-row justify-center items-center gap-x-2"
        :class="{'mb-6': $store.graph.node_path.length === 0}"
    >
        <template x-for="(career,index) in $store.graph.node_path" :key="index">
            <li class="flex flex-row gap-x-2">
                <span x-text="career"></span>
                <template x-if="index !== $store.graph.node_path.length - 1">
                    <i class="bi bi-arrow-right"></i>
                </template>
            </li>
        </template>
    </ul>
    <div id="cy" class="w-[1280px] h-[720px] border border-solid border-black"></div>
</main>

<template id="tippy-content">
    <div class="flex flex-col gap-y-2 p-2 justify-center items-center">
        <img id="img" class="w-full" src="">
        {# todo take the first 100 chars #}
        <p id="description"></p>
        <a id="detail-anchor" target="_blank" rel="noopener noreferrer">
            {% #button icon_left="bi bi-info-circle text-white"%}
                Ver más
            {% /button %}
        </a>
    </div>
</template>

{% endblock body %}
