{% load slippers %}

{% comment %}
  theme_spec_form
  theme_spec
  insert_placeholder
  model_type
  actions

  come from the context of `templates/pro_carreer/spec_theme_table.html`

{% endcomment %}
<tr id="weighted-{{model_type}}-{{theme_spec.content_object.id}}" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">

    {# show info plus action button, if there is not non field form errors #}
    {% if not theme_spec_form.non_field_errors %}
        <td class="pr-4">{{ theme_spec.weight }}</td>
        <td class="pr-4">{{ theme_spec.content_object.name }}</td>
        <td class="flex gap-x-2 justify-start px-2 py-2">
            <form hx-post="" hx-target="#weighted-{{model_type}}-{{theme_spec.content_object.id}}" hx-swap="delete">
                <input type="hidden" name="weighted_spec" value="{{ theme_spec.id }}">
                <input type="hidden" name="theme_spec" value="{{ theme_spec.content_object.id }}">
                <input type="hidden" name="model_type" value="{{ model_type }}">
                <button
                    type="submit"
                    title="Eliminar"
                    name="action"
                    value="{{ actions.DELETE_THEME_SPEC }}"
                    class='{% include "components/button_class.html" with size="normal" %}'
                >
                    <i class="bi bi-dash"></i>
                </button>
            </form>
        </td>
    {% else %}
        <td colspan="3" class="py-4">
            <ul class="text-red-600 max-w-[80%]">
                {% for error in theme_spec_form.non_field_errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </td>
    {% endif %}
</tr>
