{% extends "base.html" %}
{% load django_vite slippers wagtailimages_tags wagtailcore_tags %}

{% block title %}
Home Estudiante
{% endblock title %}

{% block body %}

{# bg-slate-100 #}
{# bg-[#FFF9DD] #}
<main class="bg-[#FFF9DD] min-h-screen">
    {% include "components/navbar.html" %}
    <section class="px-6 mt-2 mb-4">

        <h2 class="text-xl text-cyan-700 uppercase my-4">Carreras profesionales relacionadas a tu especialización</h2>
        <div class="flex gap-x-2 my-2">
            <i class="bi bi-share"></i>
            <a href="{% url "pro_carreer:student_graph_match" %}">Ver mapa interactivo de carreras</a>
        </div>

        {# Blogs section #}
        <section class="grid grid-cols-3 gap-x-4">
            {% for profession in pro_careers %}
                {% include "pro_carreer/pro_career_card.html" %}
            {% empty %}
                <div class="shadow-md rounded bg-white p-4">
                    <p>No hay carreras profesionales relacionadas que se ajusten a tus intereses.</p>
                    <p>¡Observa el <a class="text-blue-600" href="{% url "pro_carreer:student_graph_match"%} ">mapa interactivo</a> para encontrar más!</p>
                </div>
            {% endfor %}

            {# Tips #}
            <div class="flex flex-col justify-center items-center h-fit py-4 px-4 bg-[#FFB703] text-white rounded">
                <h3 class="text-lg mt-2 font-bold">Tips generales para tu carrera profesional</h3>
                <p>Escrito por Egresados con experiencia profesional.</p>
                <div class="mt-2">
                    {% #button icon_left="bi bi-info-circle text-white"%}Ver más{% /button %}
                </div>
            </div>
        </section>
    </section>
</main>
{% endblock body %}
