{% extends "wagtailadmin/base.html" %}

{% load django_htmx django_vite slippers %}

{% block titletag %}Relacionar especialización o tema de interés{% endblock %}

{# CSS and JS #}
{% block extra_css %}
    {# - Global stylesheet #}
    {% if settings.DEBUG %}
      {# For hot module reload use vite_asset, which inserts a javascript file #}
      {% vite_asset 'css/main.css' %}
    {% else %}
      {# In production use an actual css file, tailwind compiled #}
      <link rel="stylesheet" href="{% vite_asset_url 'css/main.css' %}">
    {% endif %}

    {# Bootstrap icons #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    {# ==== JavaScripts ==== #}

    {# - ViteJS hot module reload #}
    {% block vite %}
        {% if settings.DEBUG %}
            {% vite_hmr_client %}
        {% endif %}
    {% endblock %}

    {% if settings.DEBUG %}
        {# https://django-htmx.readthedocs.io/en/latest/extension_script.html #}
        {% django_htmx_script %}
    {% endif %}

    {% block extrascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.12/pdfobject.min.js" integrity="sha512-lDL6DD6x4foKuSTkRUKIMQJAoisDeojVPXknggl4fZWMr2/M/hMiKLs6sqUvxP/T2zXdrDMbLJ0/ru8QSZrnoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% vite_asset 'js/htmx.ts' %}
        {% vite_asset 'js/approve_entity.ts' %}
    {% endblock extrascripts %}

{% endblock extra_css %}

{% block content %}

    {# Wagtail styled title #}
    <a href="{% url 'relate_theme_spec' pk_pro_career=pro_career.pk %}">
        {% include "wagtailadmin/shared/header.html" with title=pro_career.title %}
    </a>
    <div class="nice-padding">
        {# Welcome message #}
        <div
            id="welcome-message"
            class="mb-6 text-center"
        >
            <p>Relaciona una especialización o un tema de interés.</p>
            <p>La <span class="font-bold">importancia</span> ayuda a determinar que tan fuerte es la relación con la carrera profesional.</p>
            </div>
        <main class="flex justify-between">
            <section>
                <h2 class="text-xl">Relacionar especialización a la carrera profesional</h2>

                <!-- For adding matches between specialization and professional carreer -->
                {% include "pro_carreer/spec_theme_table.html" with form_id="form-career-specialization" form=spec_form content_objects=specs_pro_carreers insert_placeholder="specialization-matches" %}
            </section>

            <section>
                <h2 class="text-xl">Relacionar tema de interés a la carrera profesional</h2>

                <!-- For adding matches between themes and professional carreer -->
                {% include "pro_carreer/spec_theme_table.html" with form_id="form-career-theme" form=theme_form content_objects=themes_pro_carreers insert_placeholder="themes-matches" %}
            </section>
        </main>
    </div>


    {# These forms have to be put outside the table #}

    <!-- For adding matches between specialization and professional carreer -->
    <form
        id="form-career-specialization"
        method="post"
        hx-post=""
        hx-target="#{{ spec_form.model_type }}-form"
        hx-swap="beforebegin"
    >
    </form>

    <!-- For adding matches between themes and professional carreer -->
    <form
        id="form-career-theme"
        method="post"
        hx-post=""
        hx-target="#{{ theme_form.model_type }}-form"
        hx-swap="beforebegin"
    >
    </form>

    {# CSFR Token for making POST, PUT, DELETE request with htmx #}
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });
    </script>
{% endblock content %}
