{% extends "customwagtail/base.html" %}

{% load django_vite slippers %}

{% block extrascripts %}
    {% vite_asset 'js/htmx.ts' %}
{% endblock %}

{% block titletag %}
    Relacionar especialización o tema de interés
{% endblock %}

{% block body %}
    {# Wagtail styled title #}
    <a href="{% url 'relate_theme_spec' pk_pro_career=pro_career.pk %}">
        {% include "wagtailadmin/shared/header.html" with title=pro_career.title %}
    </a>

    <div class="nice-padding">
        {# Welcome message #}
        <div
            id="welcome-message"
            class="mb-6 text-center"
        >
            <p>Relaciona una especialización o un tema de interés.</p>

            <p class="flex gap-x-2 my-4 text-slate-900">
                <i class="bi bi-info-square-fill"></i>
                <span>La <span class="font-bold">importancia</span> ayuda a determinar que tan fuerte es la relación con la carrera profesional.</span>
            </p>

        </div>
        <main class="flex justify-between">
            <section>
                <h2 class="text-xl">Relacionar especialización a la carrera profesional</h2>

                <!-- For adding matches between specialization and professional carreer -->
                {% include "pro_carreer/spec_theme_table.html" with form_id="form-career-specialization" form=spec_form content_objects=specs_pro_carreers insert_placeholder="specialization-matches" %}
            </section>

            <section>
                <h2 class="text-xl">Relacionar tema de interés a la carrera profesional</h2>

                <!-- For adding matches between themes and professional carreer -->
                {% include "pro_carreer/spec_theme_table.html" with form_id="form-career-theme" form=theme_form content_objects=themes_pro_carreers insert_placeholder="themes-matches" %}
            </section>
        </main>
    </div>


    {# These forms have to be put outside the table #}

    <!-- For adding matches between specialization and professional carreer -->
    <form
        id="form-career-specialization"
        method="post"
        hx-post=""
        hx-target="#{{ spec_form.model_type }}-form"
        hx-swap="beforebegin"
    >
    </form>

    <!-- For adding matches between themes and professional carreer -->
    <form
        id="form-career-theme"
        method="post"
        hx-post=""
        hx-target="#{{ theme_form.model_type }}-form"
        hx-swap="beforebegin"
    >
    </form>

{% endblock body %}
