
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrameta %}{% endblock %}

    {# ==== Cascading Style Sheets ==== #}
    {# - Global stylesheet #}
    {% block extrastyles %}{% endblock %}

    {# ==== JavaScripts ==== #}
    {% block extrascripts %}{% endblock %}


  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
