{% load slippers %}
<div class="flex flex-col justify-center" x-data="carrera_selector">
    {# Searchbar #}
    <div class="w-9/12 self-center">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <i class="bi bi-search"></i>
            </div>
            <input x-model="search_key" type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-black rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Buscar..." required>
        </div>
    </div>

    {# List of carreers and professions #}
    <form class="grid grid-cols-2 justify-items-center border border-solid border-black p-4 mt-6">
        <template x-for="carrera in Object.keys(carreras_group)" :key="carrera">
            <div class="flex flex-col my-5">
                <p class="self-center font-semibold text-lg" x-text="carrera"></p>
                <ul class="mt-1 pb-4 border-b border-solid border-black">
                    <template x-for="profesion in filteredCarreras[carrera]" :key="profesion">
                        <li class="flex gap-x-2 items-center">
                            <input type="radio" name="profesion" />
                            <label x-text="profesion"></label>
                        </li>
                    </template>
                </ul>
            </div>
        </template>
    </form>

</div>
