{% load slippers %}
{% comment %}
Renders a list of interest themes that can be selected

Required context:
  interest_themes: Page
  input_name: str, the name of the checkbox input
  small_interest: Bool, defaults to false, if true the interest themes will be rendered in a smaller size
Optional context:
  action_name: str, the name of the action
  list_id: str, the id of the list of interests

{% endcomment %}


<ul class="flex gap-2 flex-wrap items-center" id="{{ list_id }}">
    {% block interest_list %}
    {% for interest in interest_themes %}
        <li>
            <div class="bg-slate-600 {% if small_interest %}px-1.5 py-1.5 rounded-xl{% else %}py-2 px-4 rounded-2xl {% endif %} text-white">
                <input type="checkbox" name="{{ input_name }}" id="{{ interest.name }}" value="{{ interest.name }}"/>
                <label for="{{ interest.name }}">{{ interest.name }}</label>
            </div>
        </li>
    {% endfor %}

    {% if interest_themes.has_next %}
        <li
            id="replaceMeInterest"
            hx-get="?page={{ interest_themes.next_page_number }}&action={{ action_name|default:'render_interests' }}"
            hx-target="#replaceMeInterest" hx-swap="outerHTML">
            {% #button icon_right="bi bi-plus" type="button" title="Mostrar más" %}
            {% /button %}
        </li>
    {% endif %}
    {% endblock interest_list %}
</ul>
