{% load static %}
{% comment %}
  required context:
  - request

{% endcomment %}
{% load slippers wagtailcore_tags pro_careers %}

{# Links that show in the blue bar #}
<nav class="flex px-2 py-2 bg-ucv-blue justify-between items-center">
    <a class="mr-3" href="/">
        <img src="{% static 'logo_egresados_ucv.jpg' %}" alt="Logo de la Asociación" class="w-7 h-7">
    </a>
    <ul id="navbar-text-links" class="ml-2 w-full flex gap-x-6">
        {# Home Link #}
        <li>
            <a
                class="text-white"
                href="
                {# if logged in user is student #}
                {% if request.user.is_student %}
                    {% url "pro_carreer:student_carreer_match" %}
                {# if logged in user is mentor #}
                {% elif request.user.is_mentor %}
                    {% url "mentor:landing" %}
                {% elif request.user.is_business %}
                    {% url "business:landing" %}
                {% endif %}">
                Home
            </a>
        </li>
        {# Other mentor links #}
        {# Maybe we want this for the student user also ? #}
        {% if request.user.is_mentor %}
            <li>
                <a class="text-white" href="{% pro_carrer_index_link %}">Carreras profesionales</a>
            </li>
            <li>
                <a class="text-white" href="{% url 'mentor:my_mentorships' %}">Mis mentorías</a>
            </li>
        {% endif %}
        {# Business links #}
        {% if request.user.is_business %}
            <li>
                <a class="text-white" href="{% url 'business:students_directory' %}">Directorio Estudiantes</a>
            </li>
            <li>
                <a class="text-white" href="{% url 'business:mentors_directory' %}">Directorio Mentores</a>
            </li>
        {% endif %}
        {# Student links #}
        {% if request.user.is_student %}
            <li>
                <a class="text-white" href="{% url 'student:my_mentorships' %}">Mis Mentorías</a>
            </li>
            <li>
                <a class="text-white" href="{% url 'student:jobs_offers' %}">Ofertas de trabajo</a>
            </li>
        {% endif %}
    </ul>

    <ul class="flex text-white items-center">
        <li class="px-4">
            <div class="bg-white h-[20px] w-[1px]"></div>
        </li>
        {# Profile section #}
        <li>
            {% include "pro_carreer/mentor_avatar.html" with user=request.user border_color="white" with_dropdown="True" %}
        </li>
    </ul>
</nav>

<!-- PROFILE Dropdown menu -->
<div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
      <p class="mb-px">{{ request.user.first_name }} {{ request.user.last_name }}</p>
      <p class="font-medium truncate">{{ request.user.email }}</p>
      {# User type #}
      <p class="text-xs my-1 text-gray-500">
          {% if request.user.is_mentor %}
          Mentor
          {% elif request.user.is_business %}
          Empresa
          {% elif request.user.is_student %}
          Estudiante
          {% elif request.user.is_superuser %}
          Administrador
          {% else %}
          {% endif %}
      </p>
    </div>


    {# Avatar links #}
    <ul class="py-2 text-sm text-gray-800" aria-labelledby="avatarButton">
        {% if request.user.is_superuser or request.user.is_business or request.user.is_mentor %}
        <li>
            <a href="{% url 'wagtailadmin_home' %}" class="{% include "components/navbar/link_css.html" %}">
                CMS
            </a>
        </li>
        {% endif %}

        {% if request.user.is_mentor %}
        <li>
            <a href="{% url 'mentor:profile' username=request.user.get_username %}" class="{% include "components/navbar/link_css.html" %}">
                Mi perfil
            </a>
        </li>
        {% endif %}

        {# ---- Edit Profile link ---- #}
        <li>
            <a
                class="{% include "components/navbar/link_css.html" %}"
                href="
                    {% spaceless %}

                    {% if request.user.is_mentor %}
                        {% url 'mentor:edit_profile' %}
                    {% endif %}

                    {% if request.user.is_business %}
                        {% url 'business:edit_profile' %}
                    {% endif %}

                    {% if request.user.is_student %}
                        {% url 'student:profile' %}
                    {% endif %}
                    {% endspaceless %}
                "
            >
                Editar perfil
            </a>

        </li>

        </ul>
    <div class="py-1">
        <form method="post" action="{% url 'logout' %}" class="text-sm {% include "components/navbar/link_css.html" %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>
</div>
