{% extends 'wagtailadmin/notifications/base.html' %}

{% load custom_wagtail_tags %}

{% block branding_logo %}
    {# Logo row #}
    <table width="600" border="0" align="center" class="mobile" cellspacing="0" cellpadding="0">
        <tr>
            {# Padding left #}
            <td width="30" class="spacer" style="background-color: white">&nbsp;</td>
            <td>
                <div style="display: flex; column-gap: 10px; justify-content: center; align-items: center; background-color: white">
                    <img src="{% custom_notification_static 'logo_egresados_ucv.jpg' %}" alt="Logo egresados" width="100" height="100" />
                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color: #000000;">Asociación de Egresados y Amigos de la UCV</p>
                </div>
            </td>
            {# Padding right #}
            <td width="30" class="spacer" style="background-color: white">&nbsp;</td>
        </tr>
    </table>
{% endblock %}
